.main-header {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.main-header img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

/**Homepage Stylings**/
:root {
  --font-body: Roboto, sans-serif;
  --font-headline: Arvo, serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  transition: background-color 0.5s;
}

main {
  margin: 5px;
}

img {
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 51% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 51% 0%;
  }
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(135deg,
      var(--light-grey),
      var(--dark-grey));
  color: black;
  background-size: 100% 200%;
  padding: 5px;
  text-align: center;
  animation: gradient 4s ease infinite;
}

.logo {
  line-height: 70px;
  width: 400px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: var(--font-headline);
  margin-left: 0;
}

.logo img {
  width: 25%;
  height: 60px;
  margin-left: 5px;
  animation: infinite 4s ease-in-out infinite alternate;
}

.logo a {
  display: block;
  text-decoration: none;
  color: var(--font-body);
  margin-left: 10px;
  font-weight: bolder;
}

.logo a:hover {
  animation: upAnddown 1s ease-in-out 1;
}

.highlight {
  color: var(--secondary-color);
}

/**Hamburger And Navigation Styling**/

#hamburgerBtn {
  text-align: start;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
}

#hamburgerBtn {
  background-color: transparent;
  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  font-size: 1.5em;
  margin-top: 2%;
  color: #c0c0c0;
  margin-right: 1%;
}

#primaryNav {
  list-style-type: none;
  margin: 0.2em 2vw;
  padding: 5px;
  font-weight: 800;
}

header ul {
  display: none;
}

header ul.open {
  display: block;
  margin-bottom: 2%;
  font-size: 15px;
  font-weight: 800;
  gap: 5px;
  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  width: 95%;
  text-align: center;
}

nav {
  display: grid;
  grid-column: 1/4;
}

header ul li a {
  color: black;
}

#primaryNav li a {
  display: block;
  padding: 0.8em 2vw;
  text-decoration: none;
}

#primaryNav li a:hover {
  font-weight: bold;
  text-shadow: 0 0 40px #ffecd1;
  animation: shake 1s ease-in-out 1;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

#main {
  transition: 0.5s;
}

#main.open {
  margin-left: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  height: 100%;
  width: 100%;
  transition: 0.2s;
}

.overlay.open {
  background: rgba(0, 0, 0, 0.4);
}

/*Caurosel stylings*/
.mySlides {
  display: none;
}

img {
  vertical-align: center;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  font-size: 15px;
  text-align: center;
  color: black;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: auto;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-color: #bbb;
}

.active {
  background-color: #717171;
}

.dot:hover {
  background-color: #f1f1f1;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Main Stylings */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes infinite {
  from {
    transform: translateX(90px);
  }

  to {
    transform: translateX(-10px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes upAnddown {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-6px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-3px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.home1 h2 {
  animation: slideInLeft 3s ease-in-out;
}

.home1 .btn {
  padding: 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
  color: black;
  background-image: linear-gradient(135deg,
      var(--primary-color),
      var(--secondary-color));
  background-size: 100% 200%;
  font: var(--small-font);
  animation: upAnddown linear 2s 3s infinite;
}

.btn:hover {
  animation: shake 1s ease-in-out 1;
}

.home1 {
  display: block;
  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.navigate {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 20px;
  background-size: 200% 200%;
  background-image: linear-gradient(135deg,
      var(--secondary-color),
      var(--primary-color));
  padding: 20px;
  animation: gradient 4s ease infinite;
}

.navigate .icons {
  width: 40px;
}

.icons:hover {
  animation: shake 1s ease-in-out 1;
}

footer {
  background-image: linear-gradient(135deg,
      var(--dark-grey),
      var(--light-grey));
  color: black;
  padding: 20px;
  text-align: center;
  animation: gradient 4s ease infinite;
  background-size: 100% 200%;
}
.menu-grid{
  list-style: none;
  display: flex;
  
}
.menu-grid h2{
  font-size: 1rem;
}
.menu-grid img{
  width: 60%;
}
.menu-grid a{
  color: #525b0f;
}
.menu-grid a:hover{
  color: #f0a868;
  font-style: italic;
}

/**LARGE VIEWPORT STYLING**/
@media only screen and (min-width: 64em) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  /**Navigation styling**/
  #hamburgerBtn {
    display: none;
  }

  #primaryNav {
    display: flex;
    padding: 0;
    margin: 5px;
    border: 0;
  }

  #primaryNav li {
    border: none;
  }

  .nav {
    grid-column: 3/4;
  }

  nav {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: flex-end;
  }
}